/* GLOBALL COLORS AND STYLES */
:root {
  --dark-primary: #333333;
  --dark-secondary: #212121;
  --dark-primary-50: rgba(51, 51, 51, 0.5);
  --red-primary: #ff0000;
  --blue-primary: #334fff;
}

/*  UTILITY CLASSES */
.bg-black {
  background-color: #000;
}
.bg-dark-primary {
  background-color: var(--dark-primary);
}
.bg-dark-secondary {
  background-color: var(--dark-secondary);
}
.bg-red-primary {
  background-color: var(--red-primary);
}
.bg-blue-primary {
  background-color: var(--blue-primary);
}
.text-dark-primary {
  color: var(--dark-primary);
}
.text-shadow {
  text-shadow: 2px 2px 2px var(--dark-primary-50);
}
/* END OF COLORS UTILITY CLASSES  */

/* MAIN NAVIGATION CUSTOM STYLES */
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
  border-left: 2px solid #fff;
}
.btn.focus,
.btn:focus {
  box-shadow: none;
}

.navbar-collapse {
  border-top: 3px groove var(--dark-secondary);
}
/* HOMEPAGE STYLES */
.carousel-caption {
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
}

.get-started {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./img/lights.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.video-modal {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./img/media.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.modal-content {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
/* END OF HOMEPAGE STYLES*/

/* GLOBALL HERO SECTION STYLES */
.global-hero {
  min-height: 80vh;
  background: url(./img/image1.jpg) no-repeat;
  background-attachment: fixed;
}

/* ABOUT US STYLES */
.about-what img {
  margin-top: -5rem;
}
.testimonial .carousel-control-next,
.testimonial .carousel-control-prev {
  width: auto;
}
/* END OF ABOUT US STYLES */

/* MOBILE ONLY STYLES */
@media (min-width: 576px) {
  .navbar-collapse {
    border-top: none;
  }
}
/* DESKTOP ONLY STYLES */
@media (min-width: 960px) {
  .home-slider {
    height: 80vh;
  }
}
